<div class="overlay"></div>
<!--/DARK OVERLAY-->

<!--WRAP-->
<div id="wrap">
	<!--CONTAINER-->
	<div class="container">
		<%= image_tag("Logo.png", class: "image-align2") %>
		<div id="countdown"></div>
		<div id="note"></div>
		<p>Our site is currently <strong>under construction</strong> but we are working hard<br> and the site will be here soon!</p>
		<p>In the meantime please get in touch with us at <br/><span class="yellow"><strong>davidwille(at)me(dot)com</strong></span> or <span class="yellow"><strong>sophietaylor25@yahoo.co.uk</strong></span></p>
		<!-- <form action="http://herowp.me/html/herowp-coming-soon/#">
					<input type="text" name="email" id="email" value="Subscribe to fond out when we are done">
					<input type="submit" value="GO!">
				</form> -->
	<!--/CONTAINER-->
</div>
<!--/WRAP-->